# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log

#obsidian files
.obsidian/
node_modules

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

bower_components

*.sublime*

psd
thumb
sketch

