.img {
  max-width: 100%;
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

pre {
  white-space: pre-wrap; /* 텍스트 줄바꿈 허용 */
  word-wrap: break-word; /* 긴 단어를 줄바꿈 */
  overflow-wrap: anywhere; /* 브라우저에서 줄바꿈 가능한 지점 */
}

.img:hover {
  transform: scale(1.02);
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
}
